@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Shrikhand&family=Sour+Gummy:ital,wght@0,600;1,600&display=swap');

.fascinate-regular {
    font-family: "Fascinate", serif;
    font-weight: 400;
    font-style: normal;
}

  
.hpl-title {
    font-size: 100px;
    /* font-weight: bold; */
    margin: 0;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  
}

h4 {
    margin: 5px 0;
}

.home-page-landing {
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 7%;

    gap: 5%;

    /* background-color: #CDF5FD; */
    background: url("../giphy.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hpl-center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

     /* White with 50% opacity */
    /* background: rgba(255, 255, 255, 0.3); */
    backdrop-filter: blur(10px); /* Applies a blur to the content behind */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-radius: 20px;
}

.home-page-landing-explore-more {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button-light {
    background-color: azure;
    height: max-content;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.button-info {
    background-color: cyan;
    height: max-content;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.button-info:hover, .button-light:hover {
    transform: scale(1.125);
}

/* Introduction box */
.home-page-introduction {
    /* height: 45%; */
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding-left: 7%;
    padding-right: 7%;

    /* background-color: #CDF5FD; */
}

.home-page-introduction-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;

}

.home-page-introduction-image {
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px;
}

.home-page-introduction-image img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

/* List of salon page */
.home-page-salons {
    padding: 50px 7%;
    /* height: 30; */

    background-color: #CDF5FD;
}

.hps-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    /* justify-self: start; */
}

.hps-search-bar {
    display: flex;
    /* justify-self: end; */
    align-self: self-start;
    padding-top: 20px;
    
}

.input-box {
    width: 100%;
    line-height: 24px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5%;
} 

.home-page-salons-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-page-introduction-description-advantage {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
}
/* 
.advantage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
} */

h1 {
    margin-bottom: 0;
}

.sb-salon-name:hover {
    color: #00A9FF;
    cursor: pointer;
}

h5 {
    margin: 0;
}

.hps-list-of-salon {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;

    margin-top: 20px;
}

.salon-box {
    border: 1px black solid;
    border-radius: 15px;
    padding: 30px 5%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    cursor: pointer;
}
