.salon-page-salon-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 20px 7%;

    height: 45%;
    background-color: #A0E9FF;

    /* width: 100%; */
}

h3 {
    color: #00A9FF;
}

.salon-page-salon-list-of-employees {
    display: flex;
    flex-direction: row;

    padding: 20px 7%;

}