.signup-box-frame {
    height: 90%;
    width: 100%;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    padding: auto 4%;
}

.signup-box {

    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    gap: 20px;

    position: absolute;
    top: 11%;

}

.signup-box-component {

    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.signup-input {
    width: 95%;
    height: max-content;
    line-height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px gray solid;
}
