#root {
  background-color: rgba(5, 5, 5, 0.973);
}

body{
  background-color: rgba(5, 5, 5, 0.973);
}


@font-face {
  font-family: "Shalimar-font";   /*Can be any text*/
  src: url("./fonts/Shalimar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aldrich-font";   /*Can be any text*/
  src: url("./fonts/Aldrich-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InriaSans-Bold";   /*Can be any text*/
  src: url("./fonts/InriaSans-Bold.ttf") format("truetype");
}
