/* SavingsGoal.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #f2c069;
    width: 100%;
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000;
    border: 1px solid #f2c069;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.add-goal {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button.add-goal:hover {
    background-color: #f2c069;
}

.progress-bar {
    align-items: center;
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
}

.progress-bar-inner {
    height: 24px;
    transition: width 0.3s ease-in-out;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #457d58;
}

table tr:hover {
    background-color: #51514b;
}

table td button{
    background-color: #457d58;
    color: #f2c069;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.delete-button{
    margin: 0 10px;
    background-color: #dc3545;
    color: #ddd;
}