.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; /* Adjust the size as needed */
    padding: 20px; /* Optional: Add some padding */
    margin: 5%;
}

.headerBtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}