.About {
    /* background-color: #fbfaf6; */
    color: #242f37;
    padding: 20px;
    overflow: hidden; 
    margin: 0 20px;
  } 
  
  .AboutText {
    margin-left: 25px; 
    margin-top: 20px; 
  }

  .float-right {
    float: right;
    margin-left: 20px;
    margin-top: 155px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    width: 3px;
    height: 3px;
  }

  .image-container {
    background-position: cover;
    width: 3px;
    height: 3px;

  }