/* ResourceList.css */
.resource-list-container {
    text-align: left;
  }
  
  .orange-container {
    background-color: orange;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center; /* Center the text within the orange container */
  }
  
  .resource-section {
    margin-bottom: 20px;
  }
  
  .resource-section h3 {
    text-align: left;
  }
  
  .resource-item {
    margin-bottom: 10px;
  }
  