.employee-box {
    width: 15%;
    border: 1px black solid;
    margin-right: 15px;
    border-radius: 15px;
}

.employee-image-frame {
    aspect-ratio: 1/1;
    border-bottom: 1px black solid;
}

.employee-image {

}

.isOwner {
    pointer-events: none;
}