.login-box-frame {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    padding: auto 4%;
}

.login-box {
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    gap: 20px;

    position: absolute;
    top: 15%;
}

.login-box-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.login-input {
    width: 95%;
    height: max-content;
    line-height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px gray solid;
}

.signin-button {
    width: 100%;
    height: 40px;
    background-color: azubackre;
    border: 2px black solid;
    border-radius: 5px;
    font-weight: bold;
}

a {
    color: black;
}