.nav-bar {
    height: 7%;
    padding: 10px 4%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: aliceblue;
}

.nav-bar-logged-in-status {
    height: 100%;
}

.nav-bar-right-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    height: 100%;
    width: 100%;
}

.nav-bar-profile-image-box {
    border-radius: 22px;
    border: 2px cyan solid;
    padding: 1px;
}

.nav-bar-profile-image-url {
    aspect-ratio: 1/1;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.nav-bar-username {
    display: flex;
    align-items: center;
}

.button-light {
    background-color: azure;
    height: max-content;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.button-info {
    background-color: cyan;
    height: max-content;
    padding: 10px 15px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.button-info:hover, .button-light:hover {
    transform: scale(1.125);
}