.feature-card-feature-card {
  width: 100%;
  display: flex;
  /* padding: var(--dl-space-space-twounits); */
  position: relative;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
  /* margin-bottom: var(--dl-space-space-unit); */
  align-items: center;
}

.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1; /* Use flex: 1 to make sure the container takes all available space */
}

.feature-card-text {
  align-self: center;
  text-align: left;
  font-family: "Raleway";
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}
