.card {
    width: 300px;
    height: 400px;
    background: transparent;
    /* border-style: solid;
    border-width: 3px;
    border-color: rgb(3, 7, 89);
    border-radius: 0.3rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.057); */
    /* margin-top: 0px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 60px; */

}

.left-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
}